
<ion-view  hide-nav-bar="true" view-title="Iniciar sesión" class="login-bg3">

<style>

.login {
    text-align: center;
    position: absolute;
    transition: none;
}

input[placeholder], [placeholder], *[placeholder] {
    color: black!important;
    font-size: 20px;
}

#item16{
  background-color: #ccc;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: red;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: red;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: red;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}

.login-bg3{
    background-size: cover;
    background-position: center;
    background-color: #C43A46;
}

.login .content img {
    width: 100%;
    height: auto;
    top: -200px;
    position: relative;
}

.login .button {
    text-transform: none;
    font-size: 16px;
    padding: 0 20px;
    min-width: 120px;
    margin-top: 20px;
}

.boton-salir{
  width:100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.boton-salir img{
  position: absolute;
  width: 7%;
  height: auto;
  bottom: 16px;
  min-width: 40px;
  left: 16px;
  z-index: 100;
}
.boton-salir img:hover{
  width: 8%;
  min-width: 42px;
}

.boton-login{
    background:#ff354c;
    color: white;
    width: 100%;
}
.boton-login:hover{
    border-radius: 32px;
}

</style>
<div class="boton-salir">
    <img ng-click="salirCampania()" src="img/Salir.png">
  </div>
<img src="http://sistemex.com/apps/taptap/source/img/campanias/{{dataCampania.background}}" style="width:100%;height:100vh;"/>
  
  <ion-content class="login">

  <img ng-show="ver.logo" src="img/Logo_TapTap_Rojo.png" style="width:12%; position:absolute;top:16px;right:16px;z-index:100;opacity: 0.7;"/> 
    <ion-refresher pulling-text="Pull To Refresh" on-refresh="refreshTasks()"
            refreshing-text="Actualizando ..." refreshing-icon="ion-loading-b"
          ></ion-refresher>


    <div class="content">
        <img src="http://sistemex.com/apps/taptap/source/img/campanias/{{dataCampania.cintillo}}" />

        <ion-list style="   position: relative;">
            <div style="position:relative; top:20px; max-width: 600px; width: 90%;padding: 12px;  min-width: 100px; margin: 0 auto; top: 50px">
              <button type="button" class="button button-large  button-assertive boton-login" ng-click="iniciarCampania(dataCampania.id)">Iniciar</button>
            </div>
        </ion-list>
    </div>
</ion-content>
</ion-view>
