
<ion-view  hide-nav-bar="true" view-title="Iniciar sesión" class="login-bg3">

<style>

.login {
    text-align: center;
    position: absolute;
    transition: none;
}

input[placeholder], [placeholder], *[placeholder] {
    color: white !important;
    font-size: 20px;
}

#item16{
  background-color: #ccc;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: red;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: red;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: red;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}

.login .content img {
    width: 100%;
    height: auto;
    top: -200px;
    position: relative;
}

.login .button {
    text-transform: none;
    font-size: 16px;
    padding: 0 20px;
    min-width: 120px;
    margin-top: 20px;
}

#navlist li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#navlist li img{
  width: 10%;
  height: auto;
  top: 0px;
  position: relative;
}

#navlist li img:hover{
  width: 12%;
  margin: -1%;
  cursor: pointer;
}

</style>
  <ion-content class="login">

    <div class="content">
        <img src="http://sistemex.com/apps/listentap/source/img/campanias/{{cintillo}}" />
        <div>
            <h1 style="color:#FF354C;position: relative;
    top: -100px;">{{dataPreguntas.pregunta}}</h1>
        </div>
<ion-list style="    position: relative;
   top: -70px;">

  <div>

<ul id="navlist">
<li ><img ng-click="guardarRespuesta(dataPreguntas.idpreguntas, 1);"  src="{{CaritaUrl}}/Muy_Mal.png"></li>
<li><img ng-click="guardarRespuesta(dataPreguntas.idpreguntas, 2);"  src="{{CaritaUrl}}/Mal.png"></li>
<li><img ng-click="guardarRespuesta(dataPreguntas.idpreguntas, 3);"  src="{{CaritaUrl}}/Regular.png"></li>
<li><img ng-click="guardarRespuesta(dataPreguntas.idpreguntas, 4);"  src="{{CaritaUrl}}/Bien.png"></li>
<li><img ng-click="guardarRespuesta(dataPreguntas.idpreguntas, 5);"  src="{{CaritaUrl}}/Muy_Bien.png"></li>
</ul>
</div>

 </ion-list>












  </ion-content>




</ion-view>
